/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}

#notice {
  margin: 18px;
  padding: 10px;
  display: inline-block;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  background: green;
  color: white;
}

.flash-errors {
  list-style-type: none;

  .flash-error {
    margin: 18px;
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    background: darkred;
    color: white;
  }
}


h1 {
  margin: 18px;
}

.h1--form {
  margin: 50px;
}

.search-bar {
  margin: 18px;
  padding-left: 10px;
  width: calc(100% - 36px);
  height: 40px;
  font-size: 24px;
  font-weight: lighter;
  background:rgba(244,244,244,0.01);

  &:focus {
    outline: 5px solid black;
  }
}

.search-bar::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 0.8em;
}

.search-bar:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 0.8em;
}

.search-bar::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 0.8em;
}

.search-bar:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 0.8em;
}

.generic-button {
  display: inline-block;
  margin-top: 10px;
  margin-right: auto;
  padding: 15px;
  border: 1px solid rgb(240, 200, 200);
  border-radius: 5px;
  font-size: 18px;
  font-weight: lighter;

  &:hover {
    border: 1px solid lightcoral;
    background: white;
  }

  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    color: black;
  }
}

.return-link {
  margin: 50px;
  padding: 15px;
  border: 1px solid rgb(240, 200, 200);
  border-radius: 5px;
  font-size: 18px;
  font-weight: lighter;

  &:hover {
    border: 1px solid lightcoral;
    background: white;
  }

  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    color: black;
  }
}

.form-container {
  margin: 50px;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 50% 50%;
  
  .super-label {
    font-size: 32px;
  }

  .section-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .section-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  label {
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 24px;
  }

  .field {
    height: calc(100%);
    margin: 0px;

    label {
      margin-bottom: 5px;
      margin-top: 20px;
      font-size: 24px;
    }
    
    input, select {
      width: calc(100% - 24px);
      margin: 5px 0px;
      border: 1px solid black;
      border-radius: 5px;
      font-size: 24px;
      background: white;

      &:focus {
        outline: 5px solid black;
      }
    }
    
    .text-area {
      width: 100%;
      height: calc(100% - 58px);
      margin-top: 5px;
      border: 1px solid black;
      border-radius: 5px;
      resize: none;
      font-size: 18px;
      white-space: pre-wrap;

      &:focus {
        outline: 5px solid black;
      }
    }
  }

  .related-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .fields-privileges {
    margin-bottom: 20px;

    .field {
      height: auto;
    }
  }

  // upload button styling looks funny because i have to override the browsers styling by covering what it creates up and then putting my own button on top of it. http://geniuscarrier.com/how-to-style-a-html-file-upload-button-in-pure-css/
  // NOTE: i couldn't fix the "fakepath" display bug
  .upload-file-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .file-chosen-container {
      width: calc(100% - 100px);
      
      .file-chosen {
        width: 100%;
        height: 100%;
        margin-right: 5px;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 5px;
        padding-left: 20px;
        font-size: 18px;
        font-weight: lighter;
        color: rgb(100, 100, 100);
      }
    }
    
    .file-upload {
      position: relative;
      overflow: hidden;
      display: inline-block;
      margin-left: 5px;
      padding: 15px;
      border: 1px solid rgb(201, 200, 240);
      border-radius: 5px;
      font-size: 18px;
      font-weight: lighter;
    
      &:hover {
        border: 1px solid lightcoral;
        background: white;
      }
    
      &:link, &:visited, &:hover, &:active {
        text-decoration: none;
        color: black;
      }
      
      input.upload {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 18px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
  }

  .actions {
    margin-bottom: 5px;

    input {
      width: 100%;
      height: 50px;
      border-radius: 5px;
      background: black;
      font-size: 18px;
      color: white;

      &:focus {
        outline: none;
      }
    }
  }
}

.form-container--devise {
  grid-template-rows: 1;
  grid-template-columns: 33% 1fr 33%;

  .section-1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    input, select {
      width: 100%;
      margin: 10px 0px;
    }
  }
}

