:root {
  --card-margin: 10px;
  --off-black: rgb(39, 39, 39);
}

$a-tags: 'a:link, a:visited, a:hover, a:active';

.cards-container {
  margin: 8px;
  display: flex;
  flex-wrap: wrap;

  .card {
    width: calc((100% / 4) - var(--card-margin) - 10px);
    height: calc(500px - var(--card-margin)); //TODO try make this a ratio of width somehow
    margin: var(--card-margin);
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-rows: 75% auto;
    grid-template-columns: auto;
    text-decoration: none;
    
    &:nth-of-type(5n + 1) {
      background: palevioletred;
    }
    &:nth-of-type(5n + 2) {
      background: lightsalmon;
    }
    &:nth-of-type(5n + 3) {
      background: palegoldenrod;
    }
    &:nth-of-type(5n + 4) {
      background: palegreen;
    }
    &:nth-of-type(5n + 5) {
      background: paleturquoise;
    }

    .image {
      border-radius: 10px;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      display: flex;
      justify-content: center;
      align-items: center;
      background: gainsboro;

      img {
        max-width:100%;
        max-height:100%;  
      }
    }

    .info {
      margin: 10px;
      grid-row: 2 / 3;
      grid-column: 1 / 2;

      .artist-and-price {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.pagination {
  margin: 20px 0px;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;

  a:visited {
    color: black;
  }

  a:hover {
    background: white;
  }
}

.listing-container {
  margin: 50px;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 50% 50%;

  .info {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    .section-1 {
      display: flex;
      justify-content: space-between;
      height: calc(100% - 50px);
    }

    .section-2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .purchase {
        button {
          width: 100%;
          height: 50px;
          border-radius: 5px;
          background: black;
          font-size: 18px;
          color: white;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .section-3 {
      margin-left: 5px;
      display: flex;
      flex-direction: column;
    }

    .section-4 {
      margin-right: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      .description {
        font-size: 16px;
        font-weight: lighter;
      }
    }
    

    .user, .listed-on {
      color: gray;
    }

    .styles {
      display: flex;
      justify-content: left;

      .style {
        margin: 10px 5px 10px 0px;
        border-radius: 5px;
        padding: 5px;
        background: rgba(72, 209, 205, 0.733);
        color: white;
      }
    }
  }

  .image {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    // margin: 60px 0px;
    border: 40px solid rgb(216, 197, 133);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    
    img {
      width: 100%;
      box-shadow: 0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    }
  }
}

.comments-container {
  width: 50%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;

  h3, h4 {
    margin-left: 15px;
  }

  .comment-container {
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
    .user-name {
      margin: 5px;
      font-size: 14px;
      font-weight: bolder;
    }
    
    .body {
      margin: 5px;
      font-size: 14px;
    }
    
    
    &:nth-of-type(2n + 1) {
      background: var(--off-black);
      
      .user-name {
        color: floralwhite;
      }
      
      .body {
        color: floralwhite;
      }
    }
    &:nth-of-type(2n + 2) {
      background: floralwhite;
      
      .user-name {
        color: var(--off-black);
      }
      
      .body {
        color: var(--off-black);
      }
    }
  }
}

.location-container {
  margin: 50px;
  
  #map {
    height: 675px;
    width: 100%;
    background-color: black;
  }
}

.return-link {
  margin: 50px;
}