.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  .top-links {
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    .left-links {
      display: flex;
      align-items: center;
      
      .company-name {
        a {
          font-size: 36px;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
    
    .right-links {
      display: flex;
      justify-content: end;
    }
  }
  
  .bottom-links {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    .center-links {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  a {
    padding: 15px;
    border-radius: 5px;
    background: lightcoral;
  }

  a:hover {
    background: rgb(212, 113, 113);
  }
}