.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  a {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid white;

    &:hover {
      border: 1px solid lightcoral;
      background: white;
    }
  }
  
  
  .top-links {
    margin: 10px 0px;
    // border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;

    .left-links {
      display: flex;
      align-items: center;
      
      .company-name {
        transition: transform 0.5s;

        &:hover {
          transform: scale(1.05);
        }

        a {
          font-size: 36px;
          font-weight: bold;
    
          &:hover {
            border: 1px solid white;
          }
        }
      }
    }
    
    .right-links {
      display: flex;
      justify-content: end;
    }
  }
  
  .bottom-links {
    margin: 10px 0px;
    border-top: 1px solid black;
    padding-top: 20px;
    display: flex;
    justify-content: center;

    .center-links {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}