$a-tags: 'a:link, a:visited, a:hover, a:active';

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  a {
    padding: 15px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 5px;
    font-size: 18px;
    font-weight: lighter;

    &:hover {
      border: 1px solid lightcoral;
      background: white;
    }
  }

  #{$a-tags} {
    text-decoration: none;
    color: black;
  }
  
  .top-links {
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;

    .left-links {
      display: flex;
      align-items: center;

      .company-name {
        transition: transform 0.5s;

        &:hover {
          transform: scale(1.05);
        }

        a {
          padding: 0px 15px;
          font-size: 48px;
          font-weight: bold;

          &:hover {
            border: 1px solid rgba(0,0,0,0);
          }
        }
      }
    }
    
    .right-links {
      display: flex;
      justify-content: end;
    }
  }
  
  .bottom-links {
    margin: 10px 0px;
    border-top: 1px solid black;
    padding-top: 10px;
    display: flex;
    justify-content: center;

    .center-links {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}