<h1>Admin Dashboard</h1>

<section class="dash-nav-container">
  <%= link_to(users_path, class: "generic-button") do %>
    View All Users
    <div class="icon">
      <i class="fas fa-users-cog"></i>
    </div>
  <% end %>
  <%= link_to(site_stats_path, class: "generic-button") do %>
    View Site Stats
    <div class="icon">
      <i class="fas fa-chart-bar"></i>
    </div>
  <% end %>
</section>
