<h1>HOME PAGE</h1>

<%= link_to 'Listing Index', listings_path %>
<%= link_to 'My Listings', my_listings_path %>
<%= link_to 'Listing New', new_listing_path %>
<%= link_to 'My Purchases', my_purchases_path %>