<h1>Site Stats</h1>

<p>
  <strong>Total Users:</strong>
  <%= @users.count %>
</p>

<p>
  <strong>Total Current Listings:</strong>
  <%= @listings.count %>
</p>

<p>
  <strong>Total Purchases:</strong>
  <%= @purchases.count %>
</p>

<p>
  <strong>Total Comments:</strong>
  <%= @comments.count %>
</p>